.Main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.LeftMain {
  flex: 3;
  max-width: 76vw;
}

.RightMain {
  flex: 1;
  margin: 1.5%;
  margin-right: 0;
}

.ListnMap {
  display: flex;
  flex-direction: row;
}

.GraphnNews {
  display: flex;
  justify-content: space-between;
}

.RatioNFeeds {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Time{
  position: absolute;
  top: 0%;
  z-index: 1000;
  right: 3%;
  font-size: 0.9rem;
  border: 1px solid #aaa;
  background-color: #ccc;
}


/* Animation on Load */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,20px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.ListnMap {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}


.ListnMap {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/*-----------------------*/

@media (max-width: 600px) {
  .LeftMain{
    margin-top: 1rem;
    max-width: 100vw;
  }
  
  .GraphnNews {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .RightMain{
    margin-left: 0;
  }
  
  .Time{
    top: 8%;
    z-index: 0;
  }
}
