.Logo{
  display: flex;
  align-items: center;
}

.LogoText {
  display: inline-block;
  color: red;
  font-size: 22px;
  margin: 0 0.5rem;
  font-weight: bold;
}

@media (max-width: 600px){
  /* .Logo{
    left: 50%;
    transform: translate(-50%);
  } */
}