.Country{
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0.8rem;
  box-sizing: border-box;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CaretSign{
  justify-self: flex-end;
  color: red;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.CountryHeading{
  display: flex;
}

.CountryHeading div{
  margin: 0 0.5rem;
  align-self: center;
  margin-left: 0;
}

.CountryDetail{
  color: #888;
  font-size: 12px;
  padding: 0 10px;
}


.Affected{
  border-right: 1px solid #777;
  padding-left: 0;
}