.WorldMap{
  flex:2;
}

.Map{
  margin: 1rem;
  margin-top: 0;
}

.MapHeading{
  display: flex;
  padding: 1rem;
}

.MapHeading div{
  flex:1
}

.ColorLabels{
  display: flex;
  font-size: 14px;
}

.Most{
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 2px;
  background-color: #FF0019;
  border-radius: 2px;
}

.Least{
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 2px;
  background-color: #FFC4C6;
  border-radius: 2px;
}


@media (max-width: 600px){
  .WorldMap{
    display: none;
  }
}
