.Faq{
padding: 0.3rem 0.5rem;
}


.FaqQuestion, .FaqAnswer{
  padding: 1%;
  cursor: default;
}

.FaqQuestion{
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  margin: 0.5rem 0;
  color: rgb(221, 11, 11);
  font-weight: bold;
  transition: all 0.4s ease;
}

.FaqAnswer{
  opacity: 0;
  padding: 0;
  max-height: 0;
  font-size: 0.9rem;
  font-weight: bold; 
  color: rgb(70, 68, 68);
  overflow-y: hidden;
  transition: all 0.4s ease;
}

.Open .FaqQuestion{
  background-color: rgb(221, 11, 11);
  color: white;
  transition: all 0.4s ease;
  border-radius: inherit;
}


.Open .CaretArea{
  transform: rotate(180deg);
  color: white;
}

.Open .FaqAnswer{
  opacity: 1;
  max-height: 10rem;
  display: block;
  padding: 1.5%;
  text-align: justify;
}

.CaretArea{
  color: red;
  border-radius: 2px;
  transition: 0.4s ease;
}

.CaretArea:hover{
  background-color: red;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

