.NavItems {
  display: flex;
  list-style: none;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 600px){
  .NavItems{
    flex-direction: column;
  }
}