.CurrentSituations {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.CardWrapper{
  margin: 2% 0;
  /* flex: 1; */
}


.CaseCard{
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  padding: 1.2rem;
}

.CaseHeading{
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(80, 78, 78);
  font-size: 0.9rem;
}

.CaseGraph{
  align-self: center;
}

.CaretSign{
  margin-left: 1px;
  font-size: 1.1rem;
}

.CaseCount{
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}


@media (max-width: 600px){
  .CurrentSituations{
    max-width: 100%;
  }

  .CardWrapper{
    flex: 1;
    margin-right: 1%;  
  }
}