.CurrentSituations {
  display: flex;
  max-width: 75vw;
  justify-content: space-between;
  margin: 1rem 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.CaseCard{
  display: flex;
  flex: 1;
  padding: 0.8rem;
}

.CaseHeading{
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(80, 78, 78);
  font-size: 14px;
}

.CaretSign{
  margin-left: 8px;
  font-size: 18px;
}

.CaseCount{
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.CaseGraph{
  margin-left: 1.2rem;
  height: 60px;
  width: 80px;

  border: 1px solid #ccc;
}