.NewsUpdate a{
  text-decoration: none;
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
}
.NewsUpdate{
  flex: 1;
  margin-left: 1rem;
  max-width: 40vw;
}

.Slider{
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  padding: 0 0.3rem;
  max-width: 100%;
}

.NewsCard{
  display: flex;
  min-width: 100%;
  transition: 0.5s;
  align-items: center;
}

.NewsTitle{
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1rem;
  color: rgb(27, 26, 26);
}

.NewsInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.7rem;
  padding-top: 0.3rem;
}

.NewsInfo>span{
  display: inline-block;
  background-color: #FFEAEB;
  padding: 0.5rem;
  color: red;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}

.NewsTime{
  color: rgb(27, 26, 26);
  background-color: #ccc;
  font-size: 11px;
  padding: 0.1rem
}

.NewsDesc{
  font-size: 0.8rem;
}

.NewsDesc>span{
  display: inline-block;
  padding: 0.4rem;
}

.NewsDesc>span:hover{
  background-color: #FFEAEB;
  transition: 0.3s;
}


.NavigationButtons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

.NavigationButtons:hover{

  background-color: rgba(204, 204, 204, 0.3);
}

.GoLeft{
  left: 0;
}

.GoRight{
  right: 0;
}

@media (max-width: 600px){
  .NewsUpdate{
    max-width: 95vw;
    margin-left: 0;
    margin-bottom: 2%;
  }
  .NewsLogo{
    display: none;
  }
}