.App {
  background-color: #e7e9ec;
  height: 200vh;
}

.Container{
  max-width: 95vw;
  margin: auto;
}

.ListnMap{
  display: flex;
  max-width: 75vw;
  justify-content: space-between;
  flex-wrap: wrap;
}